<footer class="footer-area">
    <div class="container-fluid">
        <div class="row m-0">
            <div class="col-md-3-custom">
               <div class="footer-left">
                   <img class="footer-logo" src="assets/images/footer-logo.svg" alt="logo">
                   <p>
                    We'd be happy to help answer your questions regarding our browser profile managers. 

                   </p>
               </div>
            </div>

            <div class="col-md-2-custom">
                <div class="footer-link-all">
                    <h5>Home</h5>
                    <ul class="list-inline list-group">
                        <li><a href=""> Contact Us</a></li>
                        <li><a href="">Privacy & Policy</a></li>
                        <li><a href="">Terms & Conditions</a></li>
                        <li><a href="">FAQ</a></li>
                    </ul>
                </div>
              
            </div>
            <div class="col-md-2-custom">
                <div class="footer-link-all">
                    <h5>About</h5>
                    <ul class="list-inline list-group">
                        <li><a href=""> Contact Us</a></li>
                        <li><a href="">Privacy & Policy</a></li>
                        <li><a href="">Terms & Conditions</a></li>
                        <li><a href="">FAQ</a></li>
                    </ul>
                </div>
                
            </div>
            <div class="col-md-2-custom">
                <div class="footer-link-all">
                    <h5>Pricing</h5>
                    <ul class="list-inline list-group">
                        <li><a href=""> Contact Us</a></li>
                        <li><a href="">Privacy & Policy</a></li>
                        <li><a href="">Terms & Conditions</a></li>
                        <li><a href="">FAQ</a></li>
                    </ul>
                </div>
                
            </div>
            <div class="col-md-2-custom">
                <div class="footer-link-all">
                    <h5>Products</h5>
                    <ul class="list-inline list-group">
                        <li><a href=""> Contact Us</a></li>
                        <li><a href="">Privacy & Policy</a></li>
                        <li><a href="">Terms & Conditions</a></li>
                        <li><a href="">FAQ</a></li>
                    </ul>
                </div>
                
            </div>
            <div class="col-md-2-custom">
                <div class="footer-link-all">
                    <h5>News</h5>
                    <ul class="list-inline list-group">
                        <li><a href=""> Contact Us</a></li>
                        <li><a href="">Privacy & Policy</a></li>
                        <li><a href="">Terms & Conditions</a></li>
                        <li><a href="">FAQ</a></li>
                    </ul>
                </div>
               
            </div>


            <div class="col-md-12 p-0">
                <div class="social-footer">
                    <h5>
                        Follow Us
                    </h5>
                    <ul class="nav justify-content-start">
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="footer-bootm">
        <div class="container-fluid">
            <div class="row m-0">
                <div class="col-md-12 text-center">
                    <p class="mb-0">
                        Copyright © 2021 . All Rights Reserved.

 
                    </p>
                </div>
                </div>
                </div>
    </div>
</footer>