footer.footer-area {
    width: 100%;
    float: left;
    background: #071753;
    margin-top: 122px;
    padding-top:30px;
}
.col-md-3-custom{
    width: 20%;
    float: left;
}
.col-md-2-custom{
    width: 12%;
    float: left;
    margin-left: 4%;
}
img.footer-logo {
    width: 110px;
    left: -19px;
    position: relative;margin-top: 20px;
}
.footer-left {
    width: 100%;
    float: left;
}
.footer-left p{
   color: #fff;
   font-size: 14px;
}
.footer-link-all {
    width: 100%; margin-top: 30px;
}
.footer-link-all h5 {
    color: #fff;
    font-size: 15px;margin-bottom: 34px;
}
.footer-link-all li{
    width: 100%; margin-bottom: 7px;
}
.footer-link-all li a{
    color: #d1cfcf;
    font-size: 13px;
   
}
.footer-link-all li a:hover{
    color:#229bca; text-decoration: none;
}
.social-footer {
    width: 100%;
    float: left;
    margin-top: 30px;
}
.social-footer h5 {
    color: #fff;
    font-size: 15px;
}
.social-footer ul{
margin-top: 12px;
}
.social-footer ul li {
    padding-right: 32px;
}
.social-footer ul li a{
    color: #fff;
}
.social-footer ul li a:hover{
    color: #229bca;
}
.footer-bootm {
    width: 100%;
    float: left;
    margin-top: 50px;
    border-top: solid 1px #4d5881;
    padding-top: 36px;
    padding-bottom: 34px;
}
.footer-bootm p{
  color: #e3e7ea;
  font-size: 13px;
}