.custom-header {
    width: 100%;
    float: left;
   position: absolute;
   z-index: 10000;
    margin-top: 12px;
}
.custom-navbar {
    width: 100%;margin-top: 18px;
}
#company-logo {
    width:163px;
    float: left;margin-top: 4px;
}

#company-logo img{
    width: 163px;
   
   
}
.custom-navbar .navbar-nav .nav-link {
    padding: 8px 24px;
    font-size: 14px; color: #fff;
    position: relative;
}
.custom-navbar .navbar-nav .nav-link:hover{
    color: #c1d0f9;
}
.nav-active:after {
    width: 16px;
    height: 3px;
    background: #fff;
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    display: table;
    /* border-radius: 86px; */
}
.search-ul {
    margin-top: 31px;
}
.search-ul li {
    padding: 0px 17px;
}
.search-list {
    width: 24px;
}
.search-list img{
    width: 24px;
}
li.border-left-li {
    border-left: solid 1px #5d71ad;
    width: 42px;
    top: 3px;
    left: 15px;
    position: relative;
    height: 28px;
}
.btn-contact {
    background: #fff;
    color: #0D2472;
    width: 143px;
    padding: 11px 5px;
    font-size: 16px;
    margin-top: -8px;
}
.btn-contact:hover{
    background: #00124c;
    color: #fff; border-color:#06164a;
}
@media (min-width: 200px) and (max-width: 991px) {

.custom-header {
    height: 58px;
}
.custom-header .navbar-toggler {
    position: absolute;
    right: 0px;
    top: 7px;
}
.custom-navbar div#navbarCollapse {
    background: #0d2472;
    top: 48px;
    position: relative;
    z-index: 99;
    border: solid 1px #223e8d;
    float: right;
    left: 31px;
    box-shadow: 0px 0px 10px #0e0e0e;
    padding: 22px;
}
.custom-navbar .navbar-nav .nav-link {
    text-align: right;
}
.custom-navbar .navbar-toggler {
    color: #fff !important;
    border-color: #7c8cc1;
    background: #0d2472;
}
.nav-active:after{
    display: none !important;
}
}
 @media (min-width: 200px) and (max-width: 767px) {
.custom-header .navbar-toggler {
    top: -26px;
}
.custom-navbar div#navbarCollapse {
    background: #0d2472;
    top: 16px;
}
.custom-navbar{
    margin-top: -22px;
    position: absolute;
    width: 100%;
    left: 0px;
}
.search-ul {
    justify-content: center !important;
    margin-top: 42px !important;
}
.search-ul li {
    padding: 0px 13px !important;
}
.btn-contact {
    width: 122px !important;
    font-size: 16px !important;
}
}