.custom-header {
    width: 100%;
    float: left;
   position: absolute;
    z-index: 9;
    margin-top: 12px;
}
.custom-navbar {
    width: 100%;margin-top: 18px;
}
#company-logo {
    width:163px;
    float: left;margin-top: 4px;
}

#company-logo img{
    width: 163px;
   
   
}
.custom-navbar .navbar-nav .nav-link {
    padding: 8px 24px;
    font-size: 14px; color: #fff;
    position: relative;
}
.nav-active:after {
    width: 16px;
    height: 3px;
    background: #fff;
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    display: table;
    /* border-radius: 86px; */
}
.search-ul {
    margin-top: 31px;
}
.search-ul li {
    padding: 0px 17px;
}
.search-list {
    width: 24px;
}
.search-list img{
    width: 24px;
}
li.border-left-li {
    border-left: solid 1px #5d71ad;
    width: 42px;
    top: 3px;
    left: 15px;
    position: relative;
    height: 28px;
}
.btn-contact {
    background: #fff;
    color: #0D2472;
    width: 143px;
    padding: 11px 5px;
    font-size: 16px;
    margin-top: -8px;
}
.btn-contact:hover{
    background: #06164a;
    color: #fff; border-color:#06164a;
}
@media (min-width: 200px) and (max-width: 991px) {

.custom-header {
    height: 58px;
}
.custom-header .navbar-toggler {
    position: absolute;
    right: 0px;
    top: 7px;
}
.custom-navbar div#navbarCollapse {
    background: #5d5c9d;
    top: 48px;
    position: relative;
    z-index: 99;
    float: right;
    left: 31px;
}
.custom-navbar .navbar-nav .nav-link {
    text-align: right;
}
.custom-navbar .navbar-toggler {
    color: #fff !important;
    border-color: #e3e3ff;
    background: #3a3a73;
}

}
 @media (min-width: 200px) and (max-width: 767px) {
.custom-header .navbar-toggler {
    top: -26px;
}
.custom-navbar div#navbarCollapse {
    background: #5d5c9d;
    top: 16px;
}
}