@media (min-width: 200px) and (max-width: 1217px) {
    .search-ul li {
        padding: 0px 10px !important;
    }
    .btn-contact {
        width: 126px !important;
    }
    }
     @media (min-width: 767px) and (max-width: 1057px) {
    .just-take-headeright {
        width: 100% !important;
    }
    }
    @media (min-width: 200px) and (max-width: 1057px) {
        .just-take-headeright {
            width: 100% !important;
        }
        .col-md-3-custom {
            width: 30% !important;
        }
        .col-md-2-custom {
            width: 30% !important; margin-left: 0px  !important;
           
        }
        }

    @media (min-width: 200px) and (max-width: 1037px) {
    .search-ul li {
        padding: 0px 7px !important;
    }
    .btn-contact {
        width: 118px !important;
    }
    .banner-details h1 {
        font-size: 38px !important;
    }
    .banner-details p {
        font-size: 15px !important;
    }
    h1 {
        font-size: 37px !important;
    }
    .what-block h3 {
        font-size: 19px !important;
    }
    }
     @media (min-width: 200px) and (max-width: 1037px) {
    .search-ul li {
        padding: 0px 4px !important;
    }
    .btn-contact {
        width: 109px !important;
        padding: 9px 5px !important;
    }
    }
    @media (min-width: 200px) and (max-width: 991px) {
    .contact-section-inner {
        width: 100% !important;
        padding: 24px !important;
    }
    .contact-left {
        width: 100% !important;
        padding: 5px 4px !important;
    }
    .contact-right {
        padding-left: 0px !important;
    }
    }
     @media (min-width: 200px) and (max-width: 919px) {
    .what-we-do-section {
        min-height: 700px !important;
    }
    .contact-ul-right {
        width: 69% !important;
    }
    }
     @media (min-width: 200px) and (max-width: 873px) {
    .search-ul li {
        padding: 0px 2px !important;
    }
    .btn-contact {
        width: 103px !important;
    }
    }
     @media (min-width: 200px) and (max-width: 817px) {
    .search-ul li {
        padding: 0px 0px !important;
    }
    .btn-contact {
        width: 100px !important;
    }
    .col-md-3-custom {
        width: 50% !important;
    }
    .col-md-2-custom {
        width: 50% !important; 
       
    }
    .footer-left p {
        width: 80%;
    }
    }
     @media (min-width: 200px) and (max-width: 773px) {
    .btn-contact {
        width: 92px !important;
        font-size: 15px !important;
    }
    .just-take-headeright {
        width: 100% !important;
    }
    
    }
     @media (min-width: 200px) and (max-width: 767px) {
    div#company-logo {
        margin: auto;
        float: initial !important;
        display: table;
    }
    img.obejt-image {
        width: 510px !important;
    }
    .banner-details h1 {
        font-size: 29px !important;
        margin-top: 32px !important;
        float: left;
    }
    .btn-contact-us {
        width: 230px;
        padding: 14px 10px;
    }
    .banner-section {
        height: 860px !important;
    }
    .what-block h3 {
        font-size: 24px !important;
    }
    section.dont-just-take-section {
        margin-top: 120px;
    }
    .contact-right {
        margin-top: 80px;
        ;
    }
    .contact-left .pl-2 {
        padding-left: 17px !important;
    }
    .contact-left .pr-2 {
        padding-right: 17px !important;
    }
    .just-take-headeright {
        width: 70% !important;
    }
    }
     @media (min-width: 200px) and (max-width:550px) {
    img.obejt-image {
        width: 450px !important;
    }
    .col-md-3-custom {
        width: 100% !important; text-align: center;
    }
    .col-md-2-custom {
        width: 100% !important; text-align: center
       
    }
    .footer-left p {
        width: 100%;text-align: center
    }
    .social-footer{
        text-align: center;
    }
    .social-footer ul {
        justify-content: center !important;
    }
    .social-footer ul li{
        padding-left: 14px !important;
        padding-right: 23px !important;
    }
    }
     @media (min-width: 200px) and (max-width:500px) {
    img.obejt-image {
        width: 450px !important;
    }
    .contact-ul li span {
        margin: auto;
        display: table;
        float: initial;
        margin-bottom: 20px;
    }
    .contact-ul-right {
        width: 100% !important;
        text-align: center;
        margin: 0px !important;
    }
    }
     @media (min-width: 200px) and (max-width:490px) {
    .banner-section {
        height: 780px !important;
    }
    img.obejt-image {
        width: 330px !important;
    }
    }
     @media (min-width: 200px) and (max-width: 456px) {
    img.obejt-image {
        width: 300px !important;
    }
    .just-take-headeright {
        width: 100% !important;
        text-align: center;
        margin-left: 0px !important;
    }
    .just-take-header img {
        margin: auto !important;
        float: initial;
        display: table !important;
    }
    p.p-just-take-detils {
        text-align: center;
    }
    }
    