<section class="banner-section">
    <div class="bg-banner" style="background: url(assets/images/banner.png);"></div>
    <div class="shape-bottom"> <img src="assets/images/curve.svg" alt="shape" class="bottom-shape"> </div>
    <div class="container banner-details text-center">
      <div class="col-md-12">
        <h1 class="h1-title-banner"> We specialize in Web, Desktop, and <br>
          Mobile applications </h1>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's <br>
          standard dummy text ever since the 1500s. </p>
      </div>
      <div class="col-md-12"> <a href="">
        <button class="btn btn-contact-us">Contact Us Today!</button>
        </a> </div>
      <div class="col-md-12"> <img class="obejt-image" src="assets/images/object.svg" alt=""> </div>
    </div>
  </section>
  <div class="clearfix"></div>
  <!-- what-we-do-section -->
  <section class="what-we-do-section">
    <div class="container-fluid">
      <div class="col-md-12">
        <h1 class="text-center"> What we do? </h1>
      </div>
      <div class="row m-0">
        <div class="col-md-4 text-center">
          <div class="what-block"> <span> <img src="assets/images/w1.svg" alt=""> </span>
            <h3>UI/UX Design</h3>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="what-block"> <span> <img src="assets/images/w2.svg" alt=""> </span>
            <h3>Web Development</h3>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="what-block"> <span> <img src="assets/images/w3.svg" alt=""> </span>
            <h3>API Development</h3>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end what-we-do-section --> 
  
  <!-- dont-just-take-section -->
  <section class="dont-just-take-section" style="background: url(assets/images/got-ban.png);">
    <div class="shape-bottom2"> <img src="assets/images/curve2.svg" alt="shape" class="bottom-shape"> </div>
    <div class="container-fluid just-take-inner">
      <h2 class="text-center h2-justtake">Don’t just take our word for it! </h2>
      <p class="text-center p-just-take">Check out what other folks have to say about our services!</p>
      <div class="clearfix"></div>
      <div class="row m-0">
        <div class="col-md-4">
          <div class="just-take-block">
            <div class="just-take-header"> <img src="assets/images/ellipse.png" alt="">
              <div class="just-take-headeright">
                <h4>Klara Ipsum</h4>
                <h5>CEO</h5>
              </div>
            </div>
            <p class="p-just-take-detils"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply. </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="just-take-block">
            <div class="just-take-header"> <img src="assets/images/ellipse2.png" alt="">
              <div class="just-take-headeright">
                <h4>Klara Ipsum</h4>
                <h5>Business Owner</h5>
              </div>
            </div>
            <p class="p-just-take-detils"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply. </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="just-take-block">
            <div class="just-take-header"> <img src="assets/images/e3llipse.png" alt="">
              <div class="just-take-headeright">
                <h4>Klara Ipsum</h4>
                <h5>Individual</h5>
              </div>
            </div>
            <p class="p-just-take-detils"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply. </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="just-take-block">
            <div class="just-take-header"> <img src="assets/images/e4llipse.png" alt="">
              <div class="just-take-headeright">
                <h4>Klara Ipsum</h4>
                <h5>Worker</h5>
              </div>
            </div>
            <p class="p-just-take-detils"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply. </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="just-take-block">
            <div class="just-take-header"> <img src="assets/images/e5llipse.png" alt="">
              <div class="just-take-headeright">
                <h4>Klara Ipsum</h4>
                <h5>Website Owner</h5>
              </div>
            </div>
            <p class="p-just-take-detils"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply. </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="just-take-block">
            <div class="just-take-header"> <img src="assets/images/e6llipse.png" alt="">
              <div class="just-take-headeright">
                <h4>Klara Ipsum</h4>
                <h5>Assistant Manager</h5>
              </div>
            </div>
            <p class="p-just-take-detils"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply. </p>
          </div>
        </div>
        <div class="col-md-12 text-center"> <a href="">
          <button class="btn btn-view">View More</button>
          </a> </div>
      </div>
    </div>
  </section>
  <!-- end dont-just-take-section --> 
  
  <!-- contact-section -->
  <section class="contact-section">
    <div class="container-fluid">
      <div class="contact-section-inner">
        <div class="row">
          <div class="col-md-6">
            <div class="contact-left">
              <h2> Send a Message </h2>
              <p class="mt-4"> We'd be happy to help answer your questions regarding our browser profile managers. Feel free to contact us and we will do our best to respond quickly. </p>
              <div class="row mt-4">
                <div class="col-md-6 pr-2 mt-3">
                  <input class="form-control" type="text" placeholder="Name">
                </div>
                <div class="col-md-6 pl-2 mt-3">
                  <input class="form-control" type="email" placeholder="Email">
                </div>
                <div class="col-md-6 pr-2 mt-3">
                  <input class="form-control" type="text" placeholder="Phone Number">
                </div>
                <div class="col-md-6 pl-2 mt-3">
                  <input class="form-control" type="text" placeholder="Subject">
                </div>
                <div class="col-md-12 mt-3">
                  <textarea rows="8" placeholder="Message"  class="form-control"></textarea>
                </div>
                <div class="col-md-12 mt-3 text-right">
                  <button class="btn btn-sendmessage">Send Message</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="contact-right">
              <h2> Get In Touch </h2>
              <div class="col-md-12">
                <div class="map-block mt-4">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24865.82594762464!2d-104.79529114452373!3d38.82723334320041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87134472a113fb1b%3A0x4ff9492632524ac4!2sMemorial%20Park!5e0!3m2!1sen!2sbd!4v1633020215293!5m2!1sen!2sbd"  height="190" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <ul class="list-group list-inline contact-ul">
                  <li> <span><img src="assets/images/location.svg" alt=""></span>
                    <div class="contact-ul-right">
                      <h6>Location:</h6>
                      <p>Lorem Ipsum is simply dummy text of the printing </p>
                    </div>
                  </li>
                  <li> <span><img src="assets/images/time-circle.svg" alt=""></span>
                    <div class="contact-ul-right">
                      <h6>Phone Number:</h6>
                      <p>(222) 112-3452</p>
                    </div>
                  </li>
                  <li> <span><img src="assets/images/call.svg" alt=""></span>
                    <div class="contact-ul-right">
                      <h6>Hours:</h6>
                      <p>9AM-7PM Everyday </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact-section -->